@font-face {
    font-family: horror;
    src: url('RUSTY\ ATTACK\ DEMO\ Regular.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    background-image: url(./alex-shuper-H6Kl0yCnCwc-unsplash.jpg);
    background-size: cover;
    background-position: center;
    font-family: horror;
    text-align: center;
}

h1 {
    font-size: 32px;
    padding-top: 50px;
    text-align: center;
    color: brown;
}

button {
    padding: 16px 32px;
    background-color: lightgreen;
    color: brown;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 30px;
    border: 1px solid #fff;
    cursor: pointer;
    font-family: horror;
}