* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    background-image: url(https://images.hindustantimes.com/img/2024/08/03/1600x900/kohli-rauf-six-getty_1675427613271_1722695597540.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    font-family: "Oswald", sans-serif;
}

h1 {
    font-size: 100px;
    color: #35CAFE;
    padding-top: 100px;
    width: 60%;
    margin-left: 50px;
}

.btn-container {
}

button {
    padding: 10px 20px;
    background-color: #35CAFE;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 20px;
    text-align: center;
}