@font-face {
    font-family: horror;
    src: url('HIDRANT.otf');
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}


h1 {
    color: red;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    text-transform: capitalize;
    font-family: horror;
}

p {
 color: blue;
}