* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

/* typo */

/* colors */
/* caribbian green - #24cfa6 */
/*  */

body {
    background-image: url(./img/full-bg.svg);
    background-size: cover;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #fff;
}

.view-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.view-1 .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 0 3rem;
}

.nav-items {
    display: flex;
    gap: 1rem;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.1rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.logo div {
    font-size: 1rem;
}

.logo img {
    width: 3rem;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.middle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.middle h1 {
    font-size: 5rem;
    text-align: center;
}

.blue-btn {
    background-color: #24cfa6;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    letter-spacing: 0.1rem;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.2rem;
}

.bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    text-align: center;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.item .num {
    font-size: 2rem;
    font-weight: bold;
}

.item .text {
    font-size: 1.5rem;
}

.clr-blue {
    color: #24cfa6;
}

.view-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    margin-top: 4rem;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

.youtube-video {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 0.5rem;
    max-width: 60rem;
}

iframe {
    width: 100%;
    height: 100%;
}

.view-3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 4rem;
    align-items: flex-start;
    padding: 2rem;
}

.view-3 .top h1 {
    font-size: 2.5rem;
}

.courses {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    gap: 2rem;
    row-gap: 7rem;
}

.course-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.card-top {
    background-color: #171717;
}

.card-img {
    width: 100%;
    position: relative;
}

.tag {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    font-size: 0.6rem;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
}

.coming-soon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 0.9rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
}


.course-card .card-img img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 0.5rem;
}

.course-card .card-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 0.5rem;
    text-align: left;
}

.card-detail .top {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.tags {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.tags div {
    background-color: #24cfa6;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    font-size: 0.6rem;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
}

.tags div:nth-child(1) {
    background-color: #212121;
    color: #fff;
}

.tags div:nth-child(2) {
    background-color: red;
    color: #fff;
}

.card-detail {
    padding: 1rem;
}

.card-detail .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bottom .left {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
}

.bottom .right {
    width: 30%;
    background-color: #fff;
    padding: 0.3rem 0.3rem;
    border-radius: 0.5rem;
    color: #000;
    font-size: 0.9rem;
}

.view-details-btn {
    width: 100%;
    background-color: #24cfa6;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: #000;
    font-size: 1.3rem;
    border: none;
    letter-spacing: 0.1rem;
    cursor: pointer;
    font-weight: 700;
    text-transform: capitalize;
}

.card-bottom {
    width: 100%;
}

.view-3 .top h1 {
    font-weight: 300;
}

.view-4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 4rem;
    align-items: center;
    padding: 2rem;
}

.explore-btn {
    width: fit-content;
    background-color: #24cfa6;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: #000;
    font-size: 1.3rem;
    border: none;
    letter-spacing: 0.1rem;
    cursor: pointer;
    font-weight: 700;
    text-transform: capitalize;
}

.view-4 .middle img {
    width: 80%;
    object-fit: cover;
    border-radius: 0.5rem;
}