* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.main-header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 24px 0;
}

.header-container {
    margin: 24px 0;
}

.professional {
    margin-top: 10px;
    color: #ccc;
}

.about-me {
    padding: 48px 0;
    text-align: center;
}

.about-me h2 {
    margin-bottom: 24px;
}

.about-me p {
    color: #333;
}

.box {
    padding: 32px;
    text-align: center;
    background-color: skyblue;
    border-radius: 10px;
    margin-bottom: 16px;
}

.box h2 {
    margin-bottom: 24px;
}

.description {
    width: 60%;
    margin: 0 auto;
}

.box p {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
}

.skills p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold !important;
    color: #000;
}

.projects {
    background-color: cyan;
}

.projects p {
    font-size: 16px;
    font-style: italic;
}

.main-footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 24px 0;
}