* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #121212;
  color: #fff;
  font-size: clamp(14px, 1vw, 18px);
}

main {
  width: 100%;
}
main section.view-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
main section.view-1 .top img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.8rem;
}
main section.view-1 .bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  background-color: #212121;
  padding: 1.5rem;
  border-radius: 1rem;
}
main section.view-1 .bottom .label {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
}
main section.view-1 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main section.view-1 .bottom .text h1 {
  font-weight: 400;
}
main section.view-1 .bottom .text p {
  font-weight: 300;
  line-height: 1.5;
}
main section.view-1 .bottom .text button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.6rem 0.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  color: #121212;
}
main section.view-2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
  margin: 1.5rem 0.5rem;
}
main section.view-2 .item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
main section.view-2 .item div {
  text-transform: uppercase;
  font-size: 0.9rem;
  color: rgba(244, 242, 237, 0.6);
}
main section.view-2 .item h3 {
  font-size: 1.8rem;
  font-weight: 200;
  text-transform: uppercase;
}
main section.view-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
main section.view-3 .top {
  width: 100%;
}
main section.view-3 .top img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.8rem;
}
main section.view-3 .bottom {
  background-color: #212121;
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
main section.view-3 .bottom .label {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
}
main section.view-3 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view-3 .bottom .text .line-break {
  display: block;
}
main section.view-3 .bottom .text h1 {
  text-transform: uppercase;
  font-weight: 400;
}
main section.view-3 .bottom .text p {
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.3rem;
  color: rgba(244, 242, 237, 0.6);
}
main section.view-4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
main section.view-4 .top {
  width: 100%;
}
main section.view-4 .top img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.8rem;
}
main section.view-4 .bottom {
  background-color: #212121;
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
main section.view-4 .bottom .label {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
}
main section.view-4 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view-4 .bottom .text h1 {
  text-transform: uppercase;
  font-weight: 400;
}
main section.view-4 .bottom .text p {
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.3rem;
  color: rgba(244, 242, 237, 0.6);
}
main section.view-5 {
  width: 100%;
  padding: 1rem;
}
main section.view-5 .teams {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
main section.view-5 .teams .team-1 {
  background-image: url(./imgs/view-5-1.webp);
}
main section.view-5 .teams .team-2 {
  background-image: url(./imgs/view-5-2.webp);
}
main section.view-5 .teams .team-3 {
  background-image: url(./imgs/view-5-3.webp);
}
main section.view-5 .teams .team-1,
main section.view-5 .teams .team-2,
main section.view-5 .teams .team-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 0.8rem;
  padding: 1rem;
  background-size: cover;
  background-position: center;
}
main section.view-5 .teams .team-1 .icons,
main section.view-5 .teams .team-2 .icons,
main section.view-5 .teams .team-3 .icons {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  justify-content: flex-end;
}
main section.view-5 .teams .team-1 .icons .icon,
main section.view-5 .teams .team-2 .icons .icon,
main section.view-5 .teams .team-3 .icons .icon {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #212121;
}
main section.view-5 .teams .team-1 .name,
main section.view-5 .teams .team-2 .name,
main section.view-5 .teams .team-3 .name {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  padding: 1rem;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 0.5rem;
}
main section.view-5 .teams .team-4 img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.8rem;
}
main section.view-5 .teams .team-5 {
  background-color: #212121;
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}
main section.view-5 .teams .team-5 .label {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
}
main section.view-5 .teams .team-5 .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view-5 .teams .team-5 .text .line-break {
  display: block;
}
main section.view-5 .teams .team-5 .text h1 {
  text-transform: uppercase;
  font-weight: 400;
}
main section.view-5 .teams .team-5 .text button {
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #212121;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
main section.view-5 .teams .team-5 .text button i {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #121212;
  border-radius: 50%;
  padding: 1rem;
}
main section.view-5 .teams .team-5 .text p {
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.3rem;
  color: rgba(244, 242, 237, 0.6);
}

@media (min-width: 600px) {
  main section.view-1 {
    flex-direction: row;
  }
  main section.view-1 .top {
    width: 50%;
  }
  main section.view-1 .bottom {
    width: 50%;
    justify-content: space-between;
    padding: 2rem 3.5rem;
  }
  main section.view-1 .bottom .label {
    text-transform: uppercase;
    font-size: 1rem;
  }
  main section.view-1 .bottom .text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  main section.view-1 .bottom .text h1 {
    font-weight: 400;
    font-size: 3.8rem;
    text-transform: uppercase;
    line-height: 1.5;
  }
  main section.view-1 .bottom .text p {
    font-weight: 200;
    line-height: 1.5;
    font-size: 1.5rem;
    color: rgba(244, 242, 237, 0.6);
  }
  main section.view-2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 1.5rem;
  }
  main section.view-2 .item {
    gap: 0.5rem;
  }
  main section.view-2 .item h3 {
    font-size: 4rem;
  }
  main section.view-3 {
    flex-direction: row-reverse;
  }
  main section.view-3 .top {
    width: 50%;
  }
  main section.view-3 .bottom {
    width: 50%;
    justify-content: space-between;
    padding: 2rem 3.5rem;
  }
  main section.view-3 .bottom .label {
    text-transform: uppercase;
    font-size: 1rem;
  }
  main section.view-3 .bottom .text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  main section.view-3 .bottom .text h1 {
    font-weight: 400;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1.5;
  }
  main section.view-3 .bottom .text .two-para {
    display: flex;
    gap: 1.5rem;
  }
  main section.view-3 .bottom .text .line-break {
    display: none;
  }
  main section.view-3 .bottom .text p {
    font-weight: 200;
    line-height: 1.5;
    font-size: 1.5rem;
    color: rgba(244, 242, 237, 0.6);
  }
  main section.view-4 {
    flex-direction: row;
  }
  main section.view-4 .top {
    width: 50%;
  }
  main section.view-4 .bottom {
    width: 50%;
    justify-content: space-between;
    padding: 2rem 3.5rem;
  }
  main section.view-4 .bottom .label {
    text-transform: uppercase;
    font-size: 1rem;
  }
  main section.view-4 .bottom .text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  main section.view-4 .bottom .text h1 {
    font-weight: 400;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1.5;
  }
  main section.view-4 .bottom .text .two-para {
    display: flex;
    gap: 1.5rem;
  }
  main section.view-4 .bottom .text .line-break {
    display: none;
  }
  main section.view-4 .bottom .text p {
    font-weight: 200;
    line-height: 1.5;
    font-size: 1.5rem;
    color: rgba(244, 242, 237, 0.6);
  }
  main section.view-5 .teams {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    justify-content: center;
    margin: 1.5rem 0.5rem;
  }
}/*# sourceMappingURL=style.css.map */